.vscode
.kiro
__pycache__/
.idea/
*.iml
*.ipr
*.iws
*.bak
*.swp
*.swo
*.pyc
*.pyo
*.sage.py
*.rbc
.cpython-
*~.nib
*.so
*.o
*.a
*.pyc
*.pyo
*.class
*.ds_store
*.spec
*.swp
.DS_Store
.ipynb_checkpoints
.env
node_modules/
build/
dist/
yarn-error.log
.env.local
.env.development.local
.env.test.local
.env.production.local